<h3>Add a Crypto</h3>
 <form {{action 'createCrypto' on='submit'}}>
   {{input placeholder='New Crypto Name' value=newCrypto.name}}
   {{input placeholder='New Crypto Quantity' value=newCrypto.quantity}}
   <button type="submit">Save</button>
 </form>
