<div class="container">
  <h2>Welcome to Crystopia!</h2>
  {{#link-to 'cryptos'}}Check out your cryptos{{/link-to}}
</div>

<img src='https://blockchaintmhub.io/images/benefits/blockchain-insertion-to-blockchain.gif' alt="Crypto">
