<div class="container">
    {{!-- <h2>Welcome to Crystopia!</h2>
    {{#link-to 'cryptos'}}Check out your cryptos{{/link-to}} --}}
</div>

{{!-- <img src='https://i0.wp.com/media.giphy.com/media/xT4uQF7h39mlsF5czK/giphy.gif?resize=500%2C281&ssl=1' alt="Crypto"> --}}
